page-login {
    .splash-logo {
        margin: auto auto 20px;
        background: url('../assets/imgs/59046.png') repeat transparent;
        background-size: 100%;
        width: 128px;
        height: 128px;
        color: white;
    }
    
    .splash-intro {
        font-size: 2em;
        font-weight: bold;
        max-width: 80%;
        position: relative;
        bottom: 1em; 
        margin: auto;
    }
    .splash-info {
        position: relative;
        margin-top: 64px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .bg {
        background-color: #1AD;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    button.login {
        margin-top: 1.5em;
        margin-bottom: 0;
        background-color: rgb(19, 112, 143);
        color: white;
        box-shadow: 0em 0em 0.2em  rgba(0, 0, 0, 0.2);
    }
}

.form-login {
    background-color: white;
    box-shadow: 0.3em 0em 0.5em  rgba(0, 0, 0, 0.2);
}

.cadastro {
    color: white;
    background-color: transparent;
    height: 2em;
    font-size: 1em;
    position: absolute;
    bottom: 2%;
    right: 22%;

}
