page-perfil {
    .background {
        background-color: azure;
    }

    .avatar-wrapper {
        position: relative;
        width: 12em;
        margin: auto;

        ion-avatar img {
            background-color: #DDDDDD;
            width: 12em;
            height: 12em;
            margin: auto;
        }

        .btn-tirar-foto {
            position: absolute;
            bottom: 0;
            right: .5em;
            width: 3em;
            height: 3em;
        }
    }
    .info-perfil {
        margin-bottom: 4em;
    }

    .piu {
        margin-bottom:1em;
        
        h2 {
            position: relative;
            bottom: .5em;
        }
        span {
            position: relative;
            bottom: 8em;
            left: 2.7em;
            display: block;
            margin: 1em;
            margin-bottom: -4em;
            padding: 1em;
            color: lightgray;
            font-size: .9em;
        }
        ion-card-content {
            position: relative;
            bottom: 3.5em;
            margin-bottom: -2em;
        }
        
    }
    .botao-perfil {
            font-size: 1.2em;
            padding: .5em;
            position: relative;
            bottom: 4.1em;
            left: 2em;
            height: .5em;
            margin: 1em;
            background-color: transparent;
        
    }
    .close-piu {
        float: right;
        position: relative;
        top: .8em;
        right: .8em;
        font-size: .8em;
        color: lightgray;
        background-color: transparent;
        text-indent: -.3em;
        width: 1.5em;
        

    }
    .button-feed {
        font-size: .8em;
        color: lightgray;
        text-indent: -.3em;
        width: 2.5em;
        background-color: transparent;
        position: relative;
        bottom: .6em;
        left: 1em;
            
        
    
    }
    .avatar-feed {
        width: 2.5em;
        height: 2.5em;
        margin: 1em;
        border-radius: 1.25em;
    }

    .favoritado {
        color: red;
    }
    .piuFavoritado {
        background-color: lightyellow;
    }
}