page-home {
    .searchbar {
        width: 18em;
    }
    .background {
        background-color: azure;
    }
    .feedtxt {
        margin-bottom: 1.5em;
        margin-top: .5em;
        background-color: white;
        padding-left: .5em;
        width: 16em;
        position: relative;
        left: 4em;
        border: .05em solid lightgray;
        border-radius: 1em;
        box-shadow: .1em .1em .1em .01em lightgray;
        
    }
    
    .erro {
        text-align: center;
        margin-top: -.5em;
        position: relative;
        right: 1em;
        color: gray;
    }

    .piu {
        margin-bottom:1em;
        
        h2 {
            position: relative;
            
        }
        span {
            position: relative;
            bottom: 8em;
            left: 2.7em;
            display: block;
            margin: 1em;
            margin-bottom: -4em;
            padding: 1em;
            color: lightgray;
            font-size: .9em;
            
            
        }
        ion-card-content {
            position: relative;
            bottom: 3.5em;
            margin-bottom: -2em;
        }
        
    }
    .botao-perfil {
            font-size: 1.2em;
            padding: .5em;
            position: relative;
            bottom: 4.1em;
            left: 2em;
            height: .5em;
            margin: 1em;
            background-color: transparent;
        
    }
    .close-piu {
        float: right;
        position: relative;
        top: .8em;
        right: .8em;
        font-size: .8em;
        color: lightgray;
        background-color: transparent;
        text-indent: -.3em;
        width: 1.5em;
        

    }
    .button-feed {
        font-size: .8em;
        color: lightgray;
        text-indent: -.3em;
        width: 2.5em;
        background-color: transparent;
        position: relative;
        bottom: .6em;
        left: 1em;
    }
    .avatar-feed {
        width: 2.5em;
        height: 2.5em;
        margin: 1em;
        border-radius: 1.25em;
    }
    .avatar-user {
        width: 2.5em;
        height: 2.5em;
        border-radius: 1.25em;
        position: absolute;
        left: 2em;
        top: 1.5em;
    }
    .contador {
        font-size: .9em;
        position: absolute;
        top: 4.6em;
        left: 2.1em;
        color: gray;
        
    }
    .btn-piu {
        position: absolute;
        top: 1.5em;
        right: 1.8em;
        background-color: transparent;
        color: lightgray;
        font-size: 1.5em;
    }
    .fundoExcesso {
        background-color: lightyellow;
    }
    .excessoChar {
        color: crimson;
    }
    .favoritado {
        color: red;
    }
    .piuFavoritado {
        background-color: lightyellow;
    }
}
